.banner {
    width: 100%;
    height: 200px;
    position: fixed;
}

.container {
    composes: container from "./global.module.css"; /*Inherits global container*/
    padding-top: 51px;
}

.bannerText {
    width: 75%;
}

.secondaryImage {
    width: 25%;
}